@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --background: #373737cc;
  --foreground: #ffffff;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Manrope", sans-serif;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
